 <!DOCTYPE html>
<html>
 <head>
 <title>KingSong2 </title>
 </head>
 <body>
 <h1>KingSong2</h1>
 <center>
 <p>เว็บไซต์นี้ได้ทำการรวบรวมเพลงพระราชนิพนธ์ </p>
	
	<iframe width="560" height="315" src="https://www.youtube.com/embed/nYYps7eb7tg" frameborder="0" allowfullscreen></iframe>
	</center

 </body>
</html> 
